# Maven-specific
#------------------------------------------------
/target/
/dependency-reduced-pom.xml

# Eclipse
#------------------------------------------------
.classpath
.settings/
.project
.factorypath
.apt-generated/

# IntelliJ
#------------------------------------------------
*.iml
*.iws
*.ipr
.idea/

# Netbeans
#------------------------------------------------
/nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# MacOS
#------------------------------------------------
.DS_Store
